<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suit3">
    <listeners>
        <listener class-name="com.demchyk.home.utils.ScreenshotReporter"/>
    </listeners>
    <test name="Smoke">
        <classes>
            <class name="com.demchyk.home.AppTest"/>
        </classes>
    </test>
</suite>